asgiref==3.11.1
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.3
filelock==3.24.3
gunicorn==26.0.0
packaging==26.2
pillow==12.1.1
platformdirs==4.9.2
psycopg2-binary==2.9.12
python-discovery==1.1.0
sqlparse==0.5.5
tzdata==2025.3
virtualenv==21.0.0
whitenoise==6.12.0
